@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Manrope:wght@200..800&display=swap');

.register-container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    width: 400px;

    background: white;

    padding: 40px;

    border-radius: 12px;

    box-sizing: border-box;
}

.register-box h1 {
    margin: 0 0 30px;

    text-align: center;
}

.register-box h2 {
    margin-bottom: 10px;
}

.register-box p {
    color: #777;
    margin-bottom: 25px;
}

.register-box form {
    display: flex;
    flex-direction: column;
}

.register-box label {
    margin-bottom: 7px;

    font-size: 14px;
    font-weight: 600;
}

.register-box input {
    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ddd;
    border-radius: 7px;

    font-family: inherit;
    font-size: 14px;

    box-sizing: border-box;
}

.register-box button {
    padding: 12px;

    border: none;
    border-radius: 7px;

    font-family: inherit;
    font-weight: 600;

    cursor: pointer;
}

.login-link {
    text-align: center;
    margin-top: 25px;
}

.login-link a {
    text-decoration: none;
}