<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <aside>

        <h1>TASKLY</h1>

        <nav class="sidebar">

            <a href="/" class="sidebar-item">
                Dashboard
            </a>

            <a href="/tasks" class="sidebar-item">
                📋 Tasks
            </a>

            <a href="/completed" class="sidebar-item">
                ✓ Completed
            </a>

            <a href="#" class="sidebar-item">
                ⚙ Settings
            </a>

        </nav>

        <a href="/register" class="sidebar-item logout">
            🚪 Logout
        </a>

    </aside>


    <header>

        <div class="search-box">

            <input type="text" placeholder="Search">

            <button>🔍</button>

        </div>

        <span>Kyrylo</span>

    </header>


    <main>

        {% block content %}
        {% endblock %}

    </main>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>