@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Manrope:wght@200..800&display=swap');

body {
    margin: 0;
    font-family: "Manrope", sans-serif; 
    background-color: #f5f5f5;
    font-weight: 400;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: white;
}

aside {
    position: fixed;
    left: 0;
    top: 70px;
    width: 220px;
    height: calc(100vh - 70px);
    background-color: white;
}

main {
    margin-left: 220px;
    padding: 30px;
}

.statistics {
    display: flex;
    gap: 20px;
}

.statistics div {
    width: 150px;
    padding: 25px;
    border-radius: 10px;
    background: white;
}

.task {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
}